<!-- usage: dropdown option_text="text" dropdown_id="id" -->
<div class="col-12 col-md-4 col-lg-4 my-1">
  <div class="btn-group w-100 d-flex justify-content-center">
    <div class="row w-100 d-flex justify-content-center">

      <div class="col-6 col-md-4 col-lg-4 my-1 pl-0 pr-0">
        <button class="btn btn-outline-light btn-block text-dark" type="button">{{option_text}}</button>
      </div>

      <div class="col-6 col-md-4 col-lg-4 my-1 pl-0 pr-0">
        <div class="dropdown w-100">
          <button type="button" class="btn btn-block dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected_option_text_{{dropdown_id}}">Any</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item js-{{dropdown_id}}" href="#" data-id="Yes">Yes</a>
            <a class="dropdown-item js-{{dropdown_id}}" href="#" data-id="No">No</a>
            <a class="dropdown-item js-{{dropdown_id}}" href="#" data-id="Any">Any</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
